{% include hotkeys_popover.html %}

<script src={{ 'assets/js/hotkeys.js' | relative_url }} type="module"></script>
<script type="module">
  const importGhHotkeyInstall = async () => {
    const { install } = await import('https://unpkg.com/@github/hotkey@3.1.1/dist/index.js');
    for (const el of document.querySelectorAll("[data-hotkey]")) {
      install(el, el.dataset.shortcut);
    }
  };

  document.addEventListener("DOMContentLoaded", function () {
    const userAgent = window.navigator.userAgent;
    const isMobile = /iphone|ipad|ipod|android/i.test(userAgent);

    if (isMobile) {
      const hotkeysPopover = document.getElementById("hotkeys-popover");
      hotkeysPopover.style.display = "none";
    } else {
      importGhHotkeyInstall();
    }
  });
</script>
