---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content | strip_html | strip | truncate: 100 }}
  </div>
  <p>
    <em>
      <small>Date: {{ post.date }} / Last modified: {{ post.last_modified_at }}</small>
    </em>
  </p>
  <hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
