
<div id="hotkeys-popover" popover>
  <div class="popover-content">
    <span id="hotkeys-popover-close-icon" class="close-icon">&times;</span>
    <h2>Hotkeys</h2>
    <div class="columns">
      <!-- Left Column -->
      <div class="left-column">
        <nav class="toc">
          <header>
            <h4 class="nav__title"><i class="fa-solid fa-sitemap"></i> Side-wide</h4>
          </header>
          <ul class="toc__menu">
            <li>
              <pre class="unset">Open search form - <code class="language-plaintext highlighter-rouge">cmd/ctrl k</code></pre>
            </li>
            <li>
              <pre class="unset">Open this popover - <code class="language-plaintext highlighter-rouge">?</code></pre>
            </li>
          </ul>
          <header>
            <h4 class="nav__title"><i class="fas fa-file-alt"></i> Posts page</h4>
          </header>
          <ul class="toc__menu">
            <li>
              <pre class="unset">Move item down - <code class="language-plaintext highlighter-rouge">j</code></pre>
            </li>
            <li>
              <pre class="unset">Move item up   - <code class="language-plaintext highlighter-rouge">k</code></pre>
            </li>
          </ul>
          <header>
            <h4 class="nav__title"><i class="fa-solid fa-rectangle-xmark"></i> This popover</h4>
          </header>
          <ul class="toc__menu">
            <li>
              <pre class="unset">Close - <code class="language-plaintext highlighter-rouge">esc</code></pre>
            </li>
          </ul>
          <header>
            <h4 class="nav__title"><i class="fa-solid fa-arrow-up"></i> Back To...</h4>
          </header>
          <ul class="toc__menu">
            <li>
              <pre class="unset">Back Top - <code class="language-plaintext highlighter-rouge">b t</code></pre>
            </li>
            <li>
              <pre class="unset">Back to YYYY-mm - <code class="language-plaintext highlighter-rouge">b YYYYmm</code></pre>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Right Column -->
      <div class="right-column">
        <nav class="toc">
          <header>
            <h4 class="nav__title"><i class="fa-solid fa-arrow-right"></i> Go to Posts</h4>
          </header>
          <ul class="toc__menu">
            <li class="archive__item-excerpt">
              <pre class="unset">(Same as clicking a link)</pre>
            </li>
            <li>
              <pre class="unset">Go Home - <code class="language-plaintext highlighter-rouge">g h</code></pre>
            </li>
            <li>
              <pre class="unset">Go to Posts by Year - <code class="language-plaintext highlighter-rouge">g y</code></pre>
            </li>
            <li>
              <pre class="unset">Go to Posts by Tag - <code class="language-plaintext highlighter-rouge">g t</code></pre>
            </li>
          </ul>
          <header>
            <h4 class="nav__title"><i class="fa-solid fa-arrows-left-right"></i> Pagination</h4>
          </header>
          <ul class="toc__menu">
            <li class="archive__item-excerpt">
              <pre class="unset">(Same as clicking a link)</pre>
            </li>
            <li>
              <pre class="unset">Go to Previous - <code class="language-plaintext highlighter-rouge">g p</code></pre>
            </li>
            <li>
              <pre class="unset">Go to First - <code class="language-plaintext highlighter-rouge">g f</code></pre>
            </li>
            <li>
              <pre class="unset">Go to Last - <code class="language-plaintext highlighter-rouge">g l</code></pre>
            </li>
            <li>
              <pre class="unset">Go to Next - <code class="language-plaintext highlighter-rouge">g n</code></pre>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
