<!-- Dialog element -->
<dialog id="hotkeys-modal">
  <div>
    <h2>Hotkeys</h2>
    <nav class="toc">
      <header>
        <h4 class="nav__title"><i class="fa-solid fa-sitemap"></i> Side-wide</h4>
      </header>
      <ul class="toc__menu">
        <li><pre class="unset">Open search form - <code class="language-plaintext highlighter-rouge">cmd/ctrl k</code></pre></li>
        <li><pre class="unset">Open this dialog - <code class="language-plaintext highlighter-rouge">?</code></pre></li>
      </ul>
      <header>
        <h4 class="nav__title"><i class="fas fa-file-alt"></i> Posts</h4>
      </header>
      <ul class="toc__menu">
        <li><pre class="unset">Move item down - <code class="language-plaintext highlighter-rouge">j</code></pre></li>
        <li><pre class="unset">Move item up   - <code class="language-plaintext highlighter-rouge">k</code></pre></li>
      </ul>
      <header>
        <h4 class="nav__title"><i class="fas fa-file-alt"></i> Key-sequence hotkey</h4>
      </header>
      <ul class="toc__menu">
        <li class="archive__item-excerpt"><pre class="unset">(Same as clicking a link)</pre></li>
        <li><pre class="unset">Go Home - <code class="language-plaintext highlighter-rouge">g h</code></pre></li>
        <li><pre class="unset">Go to Posts by Year - <code class="language-plaintext highlighter-rouge">g p</code></pre></li>
      </ul>
     </nav>
    <button id="hotkeys-modal-close-btn" class="btn btn--inverse">Close</button>
  </div>
</dialog>
