<!-- Pagination links -->
<div class="pagination text-center">
  <a id="a-title" href="{{ '/' | relative_url }}">{{ '<<' | escape }}</a>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Prev</a>
  {% else %}
    <span class="previous">Prev</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
  <a href="{{ '/page' | append: paginator.total_pages | relative_url }}" class="">{{ '>>' | escape }}</a>
</div>
