---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  <!-- タブナビゲーション部分 -->
  <div class="tab-navigation">
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked">
    <label for="tab1" class="tabs__label">Last Created</label>
    <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
    <label for="tab2" class="tabs__label">Last Updated</label>
  </div>

  <!-- コンテンツ部分 -->
  <div class="tabs">
    <div id="content1" class="tabs__content">
      {% include documents-collection.html entries=posts type=entries_layout %}
    </div>
    <div id="content2" class="tabs__content">
      {% assign posts = site.posts | sort_natural: 'last_modified_at' | reverse %}
      {% include documents-collection.html entries=posts type=entries_layout %}
    </div>
  </div>
</div>

{% comment %}
{% include paginator.html %}
{% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll('.tabs__radio');
    const contents = document.querySelectorAll('.tabs__content');

    const saveSelectedTab = (tabId) => {
      localStorage.setItem('noriyotcp:til:selectedContentTab', tabId);
    };

    const displayContent = (contentId) => {
      const content = document.getElementById(contentId);
      contents.forEach(function (c) {
        c.style.display = 'none';
      });
      content.style.display = 'block';
    };

    // ローカルストレージから選択されたタブを復元
    const savedTabId = localStorage.getItem('noriyotcp:til:selectedContentTab');
    if (savedTabId) {
      const savedTab = document.getElementById(savedTabId);
      if (savedTab) {
        savedTab.checked = true;
        const contentId = savedTabId.replace('tab', 'content');
        displayContent(contentId);
      }
    } else {
      // 初期表示
      const initialTab = document.getElementById('tab1');
      if (initialTab) {
        initialTab.checked = true;
        displayContent('content1');
      }
    }

    // タブが変更されたら、そのタブのコンテンツを表示し、選択されたタブをローカルストレージに保存
    tabs.forEach(function (tab) {
      tab.addEventListener('change', function () {
        const tabId = tab.id;
        const contentId = tabId.replace('tab', 'content');
        displayContent(contentId);
        saveSelectedTab(tabId);
      });
    });
  });
</script>
