---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  <!-- タブナビゲーション部分 -->
  <div class="tab-navigation">
    <a href="" class="tabs__anchor" id="tab1">Last Created</a>
    <a href="" class="tabs__anchor" id="tab2">Last Updated</a>
  </div>

  <!-- コンテンツ部分 -->
  <div class="contents__container">
    <div id="content1" class="content__list">
      {% include documents-collection.html entries=posts type=entries_layout %}
    </div>
    <div id="content2" class="content__list">
      {% assign posts = site.posts | sort_natural: 'last_modified_at' | reverse %}
      {% include documents-collection.html entries=posts type=entries_layout %}
    </div>
  </div>
</div>

{% comment %}
{% include paginator.html %}
{% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs_anchors = document.querySelectorAll('.tabs__anchor');
    const contents = document.querySelectorAll('.content__list');

    const saveSelectedTab = (tabId) => {
      localStorage.setItem('noriyotcp:til:selectedContentTab', tabId);
    };

    const displayContent = (contentId) => {
      const content = document.getElementById(contentId);
      contents.forEach(function (c) {
        c.style.display = 'none';
      });
      content.style.display = 'block';
    };

    // ローカルストレージから選択されたタブを復元
    const savedTabId = localStorage.getItem('noriyotcp:til:selectedContentTab');

    if (savedTabId) {
      tabs_anchors.forEach(function (anchor) {
        anchor.classList.remove('active');
      });

      const savedTab = document.getElementById(savedTabId);
      if (savedTab) {
        savedTab.classList.add('active');
        const contentId = savedTabId.replace('tab', 'content');
        displayContent(contentId);
      }
    } else {
      // 初期表示
      const initialTab = document.getElementById('tab1');
      if (initialTab) {
        initialTab.classList.add('active');
        displayContent('content1');
        saveSelectedTab('tab1');
      }
    }

    tabs_anchors.forEach(function (tab_anchor) {
      tab_anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const tabId = tab_anchor.id.replace('tabs__anchor', 'tab');
        const contentId = tabId.replace('tab', 'content');
        const tab = document.getElementById(tabId);
        // toggle class `active` for tab
        tabs_anchors.forEach(function (anchor) {
          anchor.classList.remove('active');
        });
        e.currentTarget.classList.add('active');
        displayContent(contentId);
        saveSelectedTab(tabId);
      });
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const backToTopButton = document.getElementById("back-to-top-button");
    let scrollTimeout;

    const userAgent = window.navigator.userAgent;
    const isMobile = /iphone|ipad|ipod|android/i.test(userAgent);

    if (isMobile) {
      backToTopButton.style.display = "none";
      return;
    }

    const handleScroll = () => {
      backToTopButton.classList.add("show");
    };

    const handleScrollEnd = () => {
      clearTimeout(scrollTimeout);
      scrollTimeout = setTimeout(() => {
        backToTopButton.classList.remove("show");
      }, 2000); // 2000ms後に非表示にする
    };

    const scrollToTop = (e) => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      e.currentTarget.blur();
    };

    backToTopButton.addEventListener("click", scrollToTop);
    backToTopButton.addEventListener("mouseover", () => {
      backToTopButton.classList.add("show-hover");
    });
    backToTopButton.addEventListener("mouseleave", () => {
      backToTopButton.classList.remove("show-hover");
    });

    window.addEventListener("scroll", handleScroll);
    window.addEventListener("scrollend", handleScrollEnd);
  });
</script>
