@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #FFFFFF;
  --accent: #007bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
    --accent: #007bff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button, input, optgroup, select, textarea {
  color: #000000;
}
