@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a; /* Darker background */
  --foreground: #e0e0e0; /* Lighter text */
  --accent: #4caf50; /* Green accent */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #FFFFFF;
    --accent: #007bff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  color: #FFFFFF; /* Set button text color to white */
}

input, optgroup, select, textarea {
  color: #000000; /* Keep input text color black */
}
